body {
    background-color: #372C3D;
    margin: 0px;
}
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*página inicial*/
#circleCardHome {
    display: flex;
    height: 550px;
    width: 550px;
    border-radius: 500px;
    background-color: #D690FD;
    margin: 10% 0%;
}

#circleCardHome span {
    margin-left: 20%;
    justify-self: center;
    align-self: center;
    color: #372c3d;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: 500;
}

#GC_homeicon {
    display: flex;
    position: relative;
    height: 300px;
    width: 300px;
    align-self: end;
}
.tittle {
    font-family: sans-serif;
    color: #ffff;
    font-weight: bold;
    text-shadow:
    1px 0px 5px #ff00ff,   
    1px -1px 1px #00ffff, 
    2px -2px 1px #ff00ff,  
    1px 2px 2px #00ffff
}

#join_GC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#join_GC .tittle {
    font-size: 50px;

}

#join_GC p {
    height: 150px;
    width: 400px;
    color: #ffffff;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

.userAcessHome {
    display: flex;
    height: 80px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.userAcessHome button {
    width: 300px;
    height: 50px;
    background-color: #7B5A8F;
    margin-bottom: 10px;
    border-color: #33223D;
    border-style: solid;
    border-width: 3px;
    box-shadow: black;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 1px;
}
.userAcessHome span {
    color: #ffffff;
    font-weight: 600;
    align-self: center;

}
 a {
    text-decoration: none;
    color: #FF87C9;
    font-weight: 600;
}

/*página de login */

.sign_main {
display: flex;
justify-content: space-between;


}

.sign_main  .tittle{
   font-size: 50px;
   align-self: center;
}    

.sign_main img {
    height: 900px;
    width: 700px;
    border-radius: 0px 500px 500px 0px;
    display: block;
}

#signin_section {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}