header {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #261D2B;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #7b5a8f;
    position: sticky;
    top: 0;
    z-index: 10;
}

.tittle_icon {
    font-family: sans-serif;
    color: #ffff;
    font-weight: bold;
    font-size: xx-large;
    text-shadow:
        1px 0px 5px #ff00ff,
        1px -1px 1px #00ffff,
        2px -2px 1px #ff00ff,
        1px 2px 2px #00ffff,
        4px 4px 5px black;
    align-self: center;
}

header img {
    width: 60px;
    height: 60px;
    align-self: center;
    margin-right: 12px;
}

header div:hover {
    cursor: pointer;
}

header div {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

header img:hover {
    cursor: pointer;
}

body {
    margin: 0px;
    background-color: #372C3D;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50vh;
    background-color: #261D2B;
    position: fixed;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 0px 3px 0px 0px;
    border-color: #7b5a8f;

}

.sidebar div {
    display: flex;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 700;
    align-content: center;
    justify-content: center;
}

.sidebar span {
    margin: 10px;
    align-self: center;
    text-align: center;
}

.sidebar div img {
    width: 50px;
    height: 50px;
}

.sidebar div:hover {
    cursor: pointer;
    scale: 1.1;
}

.timeline,
.profile {
    margin-left: 51vh;
}

#navbar-discover {
    margin-left: 50vh;
    display: flex;
    justify-content: space-between;

}

#navbar-discover button {
    width: 33.3%;
    height: 40px;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    border-color: #7b5a8f;
    text-align: center;
    font-size: large;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    background-color: #261D2B;
}

#navbar-discover button:hover {
    cursor: pointer;
    background-color: #50355e;
}

/*area com estilização padrao de publicação*/
.publicacao {
    margin-top: 50px;
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #3B2B44;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #7b5a8f;
    color: #ffffff;
    align-self: center;
    justify-self: center;
}

.cabecalho-publicacao {
    display: flex;
    margin: 25px;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-publicacao #perfil {
    width: 80px;
    height: 80px;
}

.cabecalho-publicacao #userIndentify {
    display: flex;
    justify-content: baseline;
}

.cabecalho-publicacao #curtida {
    width: 50px;
    height: 50px;
    align-self: flex-end;
}

.cabecalho-publicacao #userDiv {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.publicacao #caixaTexto {
    margin: 0px 25px;
    width: 700px;
    height: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}


.content {
    margin-left: 51vh;
}

#chart-space {
    display: flex;
    flex-direction: row;
    margin: 10vh;
}

.chart {
    width: 40vh;
    height: 40vh;
    margin: 20px;
}

#kpiMedia {
    display: flex;
    margin: 20px;
    flex-direction: column;
    height: 40vh;
    width: 60vh;
    background-color: #3B2B44;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #8d63a7;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: large;
    text-align: center;
    box-shadow: 0px 3px 10px black;
}

#kpiMedia span {
    margin: 0px 10px;
}

#media {
    font-size: xx-large !important; 
    text-shadow:
    1px 0px 5px #ff00ff,
    1px -1px 1px #00ffff,
    2px -2px 1px #ff00ff,
    1px 2px 2px #00ffff,
    4px 4px 5px black;
}

.profile {
    margin-top: 2vh;
    margin-right: 2vh;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#profileIndentify {
    display: flex;
    margin-bottom: 30px;

}

#profileIndentify img {
    margin-left: 150px;
    height: 120px;
    width: 120px;
}

#profileIndentify #username {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

#username span {
    padding: 5px;
}

#biouser {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: large;
}

.profile button {
    align-self: flex-start;
    margin-top: 15px;
    margin-left: 300px;
    width: 150px;
    height: 20px;
}

hr {
    margin: 25px;
    align-self: center;
    width: 145vh;
    border-width: 3px;
    border-color: #7b5a8f;
}

#container-games {
    margin-left: 51vh;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.game {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    background-color: #2c193a;
    border: 3px solid #7b5a8f;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 30px;
    box-shadow: 0px 3px 10px black;
}

.game img {
    align-self: center;
    height: 200px;
    border-radius: 25px;
    width: 360px;
    box-shadow: 0px 3px 10px black;
}

.game-section {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.span-2 {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: smaller;
    align-self: center;
    margin: 10px;
}

.span-1 {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: large;
    align-self: center;
    margin: 15px;
    text-shadow: 0px 1px 3px #c27fff;
}

.span-tittle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: larger;
    text-shadow:
        1px 0px 5px #ff00ff,
        1px -1px 1px #00ffff,
        2px -2px 1px #ff00ff,
        1px 2px 2px #00ffff,
        4px 4px 5px black;
    align-self: center;
}

.new-publi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.new-publi-box {
    width: 80vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-width: 3px;
    background-color: #2c193a;
    border: 3px solid #7b5a8f;
    border-radius: 35px;
    box-shadow: 0px 3px 10px black;
}


.new-publi-box textarea {
    height: 30vh;
    padding: 0px;
    background-color: #e8c5ffe3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
}

.new-publi-box button {
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 20px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #261D2B;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #7b5a8f;
    color: white;
    font-weight: 600;
}
.new-publi-box button:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #50355e;
}


.dtHora-publi {
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 600;
}

#button_bio {

    margin-top: 20px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #261D2B;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #7b5a8f;
    color: white;
    font-weight: 600;
}

#button_bio:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #50355e;
}

